@keyframes scaleHead {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        /* aumenta 30% no meio da animação */
    }
}


@keyframes subirSumir {
    0% {
        transform: translateY(0);
        background: rgba(0, 0, 0, 0.8);
        opacity: 1;
    }

    100% {
        transform: translateY(-150%);
        background: rgba(0, 0, 0, 0);
        opacity: 0;
    }
}

#popupAjuda.subindo {
    animation: subirSumir 2s ease-in-out;
    position: absolute;
}



.popup-ajuda {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

}

.aviso-mobile {
    display: none;
}

.aviso-desktop {
    display: block;
}


#popupAjuda h2 {
    font-family: 'lemon milk', sans-serif;
    text-align: center;
}

.popup-conteudo {
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    max-width: 700px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    box-shadow: 0 0 20px #0004;
    position: absolute;
    background-size: cover;
    /* Mantém a imagem centralizada */
    background-position: center center;
    background-image: url('../source/Categorias/papel.jpg');
}

.popup-conteudo ul {
    list-style-type: none;
}

#popbotao {
    width: 80px;
    height: 80px;
    background: url('../source/Sobre-mim/cabeca2.png') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: block;
    margin: 0 auto;
    scale: 1.9;
    animation: scaleHead 2s ease-in-out infinite;

}


#popbotao:hover {
    transform: scale(1.1);
}

.texto-explica {
    flex: 1;
    font-family: sans-serif;
}

.texto-explica h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

.texto-explica ul {
    padding-left: 1rem;
    margin: 10px 0;
}

.texto-explica li {
    margin-bottom: 8px;
    font-size: 1rem;
}

.texto-explica button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #222;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}